/* PREDEFINITION */

body a {
  text-decoration: none;
}

body a:hover {
  color: #000;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.cedar {
  font-family: "Cedarville Cursive", cursive;
}

.jose {
  font-family: "Josefin Sans", sans-serif;
}

.alegrya {
  font-family: "Alegreya Sans", sans-serif;
}

section.produto > h2.h2,
section.lojas > h2.h2,
section.empresas > h2.h2 {
  font-size: 38px;
}

section.produto > p.text,
section.lojas > p.text,
section.empresas > p.text {
  font-size: 19px;
}

a.button {
  background: #2d635e;
  mix-blend-mode: normal;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 0.7vw 2.5vw;
  color: #fff;
}

a.button:hover {
  color: #fff;
}

/* NAV */

header ul li a {
  color: #000;
  margin: 3vw;
  font-family: "Josefin Sans", sans-serif;
}

/* BANNER */

section.banner {
  display: flex;
}

/* FOOTER */

footer {
  display: flex;
  /* padding: 1vw 8vw; */
}

footer ul li a {
  color: #000;
  font-family: "Josefin Sans", sans-serif;
}
